/* CSS Document */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,em,font,img,small,strong,b,u,i,s,dl,dt,dd,ol,ul,li,
	fieldset,form,label{padding:0px; margin:0px;}
body{color:#747474; font:12px/150% Arial, Tahoma,"微软雅黑"; font-size: 14px;}
h2,h3{font:bold 14px '微软雅黑'}
blockquote, q{quotes: none};
blockquote:before, blockquote:after,q:before, q:after{content:''content: none}
.clear{clear:both;height:0px;overflow:hidden;font-size:0; content:'';}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;font-size:0;visibility: hidden}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
a{text-decoration: none;}
a:link {color:#7e7f81;} /* 未访问的链接 */
a:visited {color:#7e7f81;} /* 已访问的链接 */
a:hover{color:#ff6c00;	text-decoration: none;} /* 鼠标在链接上 */ 
a:active {color:#7e7f81;} /* 点击激活链接 */
ol, ul li{list-style: none; }
img{border:0px}
input{ font-family: "微软雅黑"; color: #BABABA;}

.al{text-align:left}
.ac{text-align:center}
.ar{text-align:right}
.db{display:block}
.dn{display:none}
.oh{overflow:hidden;zoom:1}
.fm{font-family:"微软雅黑"}
.fl{float:left}
.fr{float:right}
.w{margin:0 auto; width:1200px}
.aimg,.aname,.adetail,.pname,.pdetail,.pprice,.main_menu p{word-break:break-all;word-wrap:break-word;overflow:hidden;zoom:1}

/*不同a标签的悬浮颜色*/
.yel:link,.yel:visited{color:#f39800}
.yel:visited{color:#f39800}
.yel:hover{color:#8cb91e}
.grey:link,.grey:visited{color:#999}
.grey:hover{color:#8cb91e}

/*
