

.xq_bag {
	width: 1200px;
	height: 70px;
	overflow: hidden;
	position: relative;
	
}

.xq_navbar {
	width: 800px;
	height: 80px;
	overflow: hidden;
	box-sizing: border-box;
	box-sizing: inherit;
}

.xq_navli {
	display: inline-block;
	color: #fff;
	box-sizing: inherit;
	text-align: center;
	float: left;
}

.xq_navli a {
	display: block;
	color: currentcolor;
	text-decoration: none;
}

.xq_move {
	transition: all .3s ease-in-out;
	position: absolute;
}